# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.vscode/

# Ignore National Instruments parts
src/myRIO-CAPI/src/
# Keep the src folder
!src/myRIO-CAPI/src/.placeholder

! Keep build folder, but ignore contents
build/*
!build/.placeholder
